.my-footer {
  margin-top: 20px;
  padding-top: 10px;
  margin-bottom: 0px;
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  /* background-color: black; */
  /* abu-abu */
  /* background-color:rgb(59, 64, 69, 0.8); */
  /* warna tanah */
  /* background-color: #7D4427; */
  /* background-color: rgba(232,253,17,0.1); */

  /* background-color: rgba(162,197,35,0.9); */

  background-color: rgba(72,107,0,0.9);
  /* zuragan */
  /* background-color: rgb(0,114,255,0.8); */
  z-index: 100;
}

.my-footer p{
  text-align: center;
  /* background-color: black; */
}

body {
  /* font-size: .875rem; */
  background-color: #eeeeee;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

  /* height: 36px;
  width: 78%;
  padding-left: 17px; */
  /* zuragan */
  background-image: linear-gradient(#00c6ff,#0072ff);
  /* warna forest */
  /* background-image: linear-gradient(#A2C523,#486B00); */

  /* background-image: linear-gradient(#A6DF62, #486B00); */
}

.sidebar-sticky {
  position: relative;
  top: 0;
  /* height: calc(100vh - 48px); */
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */

  /* coba dari boostrap template */
  /* warna laut */
  /* background-image: linear-gradient(#66A5AD,#07575B); */

  /* warna forest */
  background-image: linear-gradient(#A2C523,#486B00);
  /* background-image: linear-gradient(#486B00,#A2C523); */

  /* background-image: linear-gradient(#A6DF62, #486B00); */
  /* zuragan */
  /* background-image: linear-gradient(#00c6ff,#0072ff); */
  height: calc(100vh - 75px);
  /* overflow: auto; */
  /* width: 260px; */
  z-index: 4;
  padding-bottom: 30px;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

/* .nav-link{
  display: block;
  padding: 0.5rem 1rem;
} */

.sidebar .nav-link {
  font-weight: 500;
  /* color: #333; */
  color: white;
  /* padding: 6px 15px !important; */
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

/*
 * Navbar
 */

.navbar-brand {
  padding: .75rem;
  /* font-size: 1rem; */
  /* background-color: rgba(0, 0, 0, .25); */
  /* box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25); */
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.nav-link:hover{
  color: white;
  /* background-color: #4f4f4f; */
  background-color: #FFBE00;
}

.card-deck .card {
  min-width: 220px;
  max-width: 440px;
  }

  .card-body {
    /* opacity: 0.1; */
  }

  .card-header {
    /* background-color:#00c6ff; */
    background-color: #B0BDC5;
    color: white;
  }

.card-title .pricing-card-title{
  font-size: 15px;
}

table, th, td {
  border: none;
  text-align: center;
}

.img-thumbnail{
  /* max-width: 240px; */
  max-height: 100px;
}

p.logo {
  color:rgb(113, 128, 152);
  /* z-index: 100; */
}

.form-control {
  color: rgb(33, 37, 41);
}

div.btn-kanan {
  padding-left: 5px;
}

div.btn-kiri {
  padding-right: 5px;
}

div.btn-atas {
  margin-bottom: 5px;
}

.nav-kiri {
  padding: 5px 0px;
}

.dropdown-user {
  color: white;
}

.btn-report {
  text-decoration: none;
}

.btn-report:hover {
  background-color: #C0C0C0;
}
